@font-face{
    font-family: 'MonsterHighEmojis';
    src: url('MonsterHigh.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face{
    font-family: 'MonsterHigh';
    src: url('runytunesrevisited.regular.ttf') format('trueType');
    font-weight: bold;
    font-style: normal;
}

p {
    color: gray;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px;
}
h1 {
    font: helvetica;
}

body{
    background-color: #f8ebff;
    text-align: center;
}

header {
    background-color: #493850;
}
header h1{
    color: white;
    font-family: 'MonsterHigh', sans-serif;
    font-size: 500%;
    padding: 10px;
}

#E{
    font-family: 'MonsterHighEmojis', sans-serif;
    font-size: 500%;
}

/*enlaces dentro del nav*/
a {
    background-color: #f8f9fa;
    text-decoration: none;
}
a:hover {
    background-color: #2c063b;
    color: #007bff;
}

#contenido{
    padding: 10px;
}

h2{
    font-size: medium;
}

img{
    max-width: 100%;
    height: auto;
}

footer{
    background-color: #333;
}

footer p{
    color: white;
    text-align: center;
    padding: 10px;
}