        footer {
            /*position: fixed;*/
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: rgb(173, 159, 173);
            text-align: center;
            padding: 10px 10px;
            box-sizing: border-box;
        }

        footer p {
            margin: 0;
        }

        footer a {
            display: inline-block;
        }